html
  head
    title= title
  body
    table 
      td(align='center', valign='center')
        td
          dl
            dt=name
            dt=animal
            dd= description
          br
          | cat

