version: 2
jobs:
  system_testing:
    machine: true
    steps:
      - checkout
      - run:
          name: system.testing
          command: |
            pyenv global 3.5.2
            python3 --version
            pip3.5 --version
            pip3.5 install setuptools
            pip3.5 install docker
            pip3.5 install docker-compose
            sudo mkdir /test-log
            sudo chmod a+rwx /test-log
            export LOG_DIR=/test-log
            ./ci/do_ci.sh system.testing
      - store_artifacts:
          path: /test-log
  docker_image:
    machine: true
    steps:
      - checkout
      - run:
          command: docker build -t opentracing/nginx-opentracing .
  module_binaries:
    docker:
      - image: ubuntu:17.10
    steps:
      - checkout
      - run: ./ci/setup_build_environment.sh
      - run: ./ci/do_ci.sh module.binaries
      - store_artifacts:
          path: /modules/*.tgz

  release:
    machine: true
    steps:
      - checkout
      - run:
          command: ./ci/do_ci.sh release

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - system_testing
      - docker_image
      - module_binaries
