version: 2
jobs:
  build_gcc48_opentracing_15:
    docker:
      - image: ubuntu:24.04
    environment:
      OPENTRACING_VERSION: v1.5.1
    steps:
      - checkout
      - run: ./ci/setup_build_environment.sh
      - run: ./ci/install_gcc4.8.sh
      - run: ./ci/install_opentracing.sh
      - run: ./ci/do_ci.sh build
  build_gcc48_opentracing_16:
    docker:
      - image: ubuntu:24.04
    environment:
      OPENTRACING_VERSION: v1.6.0
    steps:
      - checkout
      - run: ./ci/setup_build_environment.sh
      - run: ./ci/install_gcc4.8.sh
      - run: ./ci/install_opentracing.sh
      - run: ./ci/do_ci.sh build


workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build_gcc48_opentracing_15
      - build_gcc48_opentracing_16:
          requires:
            - build_gcc48_opentracing_15
