version: '3.9'
services:
  nginx:
    image: opentracing-contrib/nginx-opentracing
    networks:
      example:
        aliases:
          - nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./jaeger-config.json:/etc/jaeger-config.json
    expose:
      - "8081"
    ports:
      - "8081:8081"

  jaeger:
    image: jaegertracing/all-in-one
    networks:
      example:
        aliases:
          - jaeger
    expose:
      - "9411"
      - "16686"
      - "14250"
    ports:
      - "9411:9411"
      - "16686:16686"
      - "14250:14250"

  otel:
    image: otel/opentelemetry-collector-dev:latest
    volumes:
      - ./otel.yml:/conf/otel-collector-config.yml
    command: /otel --config=/conf/otel-collector-config.yml
    networks:
      example:
        aliases:
          - otel
    expose:
      - "6831/udp" # Default endpoint for Jaeger thrift_compact receiver
      - "55680"    # Default endpoint for OpenTelemetry receiver
      - "8888"     # Metrics
    ports:
      - "55680:55680"
      - "6831:6831/udp"
      - "8888:8888"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      example:
        aliases:
          - web
    expose:
      - "8080"
    ports:
      - "8080:8080"
    environment:
      OT_COLLECTOR_ADDR: otel:55680

networks:
  example: {}
