version: '3.9'
services:
  otel:
    image: otel/opentelemetry-collector-dev:latest
    pull_policy: always
    volumes:
      - ./otel.yml:/conf/otel-collector-config.yml
    command: /otel --config=/conf/otel-collector-config.yml
    networks:
      example:
        aliases:
          - otel
    expose:
      # - "6831/udp" # Default endpoint for Jaeger thrift_compact receiver
      - "14268"    # Jaeger http thrift receiver
      - "55680"    # Default endpoint for OpenTelemetry receiver
      - "9411"     # Zipkin port
      - "8888"     # Metrics
    ports:
      - "55680:55680"
      - "9411:9411"
      # - "6831:6831/udp"
      - "8888:8888"
      - "14268:14268"

  nginx:
    image: opentracing/nginx-opentracing
    restart: on-failure
    depends_on:
      - otel
    networks:
      example:
        aliases:
          - nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./jaeger-config.json:/etc/jaeger-config.json
      - ./zipkin-config.json:/etc/zipkin-config.json
    expose:
      - "8081"
      - "8082"
    ports:
      - "8081:8081"
      - "8082:8082"

  jaeger:
    image: jaegertracing/all-in-one
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=19411
    pull_policy: always
    networks:
      example:
        aliases:
          - jaeger
    expose:
      - "16686"
      - "14250"
    ports:
      - "16686:16686"
      - "14250:14250"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      example:
        aliases:
          - web
    expose:
      - "8080"
    ports:
      - "8080:8080"
    environment:
      OT_COLLECTOR_ADDR: otel:55680

networks:
  example: {}
